<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cString" connectionString="url=jdbc:mysql://kaulov.mysql.database.azure.com:3306/kaulov?useSSL=true;myDbConn=DriverManager.getConnection(url, kaulovmain, qFoMc98LZM4qMDCkiBlpuYc3oDUjlmeSepyg4WIF5K6idMPAi7);"  />
	</connectionStrings>
</configuration>